backup_ui.sh
config.json
example/code_polish/
example/diabetes_sklearn/config_v1.json
example/diabetes_sklearn/Branch1/
example/pbs_server_example_tasks/Branch1/
branch1/
Branch1/
example/diabetes_sklearn/__pycache__/
example/diabetes_sklearn/.backup_branch_example/
example/diabetes_sklearn/my_workflows/
my_workflows/
my_new_experiment/
__pycache__/
.ipynb_checkpoints/
test_place/
my_example/
pylib/.cache/
push.sh
pull.sh
config_*.json
!config_template.json

t1/
scripts/ml_autosetup_1/*
!scripts/ml_autosetup_1/strategy.py
!scripts/ml_autosetup_1/split_data.py
!scripts/ml_autosetup_1/evaluator.py
!scripts/ml_autosetup_1/metric.py
!scripts/ml_autosetup_1/plot.py
!scripts/ml_autosetup_1/auto_setup.sh

**/__pycache__/
*.npy
*.png
*.csv
run_all_merged*

!control_panel.png
!main_pic.png
!progress_tree.png
!workflow_editor.png
my_new_experiment_sc2/
test_leak.txt
